/* Base style for all arcs */
.arc {
    stroke-width: 2px;
    fill: none;
    position: absolute;
}

/* Regular Arc */
.arc-regular {
    stroke: black;
}

.arc-regular line {
    stroke: black;
}

.arc-regular polygon {
    fill: black; /* Arrowhead color */
}

/* Inhibitor Arc */
.arc-inhibitor {
    stroke: black;
}

.arc-inhibitor line {
    stroke: black;
}

.arc-inhibitor circle {
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
}

/* Bidirectional Arc */
.arc-bidirectional {
    stroke: black;
}

.arc-bidirectional line {
    stroke: black;
}

.arc-bidirectional polygon {
    fill: black; /* Arrowhead color */
}
