.toolbox {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.toolbox-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.toolbox-item-scale {
    transform: scale(0.5); /* Scale down to 50% */
    transform-origin: top left;
}

.toolbox-item span {
    margin-left: 10px;
}

.arc-dropdown {
    margin-top: 5px;
    padding-left: 10px;
}

.arc-dropdown .toolbox-item {
    margin-bottom: 5px;
}
